# Secret Key
SECRET_KEY=your-secret-key

# Database Configuration
DB_HOST=localhost
DB_NAME=cbc_edu_triad
DB_USER=postgres
DB_PASSWORD=mypasswordhere
DB_PORT=5432

# Email Configuration
MAIL_SERVER=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_USERNAME=mailusernamehere
MAIL_PASSWORD=mailpasswordhere
MAIL_DEFAULT_SENDER="CBC EDU Triad <cbc.edu@triad.com>"


# Flask Environment
FLASK_ENV=development
DEBUG=True
console.log();
