
.profile-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 5px;
    background: var(--bg-primary);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-header h2 {
    margin-bottom: 20px;
   
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid var(--border-primary);
}

.profile-details {
    width: 100%;
    text-align: left;
    color: var(--text-primary);
}

.detail-item {
    margin-bottom: 10px;
    padding: 8px;
    background: var(--bg-gradient2);
    border-radius: 0 25px ;
}

.profile-actions {
    margin-top: 20px;
}

.btn-edit {
    background: var(--button-primary);
    color: var(--text-primary);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-edit:hover {
  opacity: 0.6;
}